---
layout: blog
title: My great title
slug: test
published: true
posted: 2020-07-11
modified: 2020-07-12
author: Halvard Alvheim Vegum
---
This is just to test some stuff ...
Hopefully it's useful


## This is a title2
* Hello
* This
* is
* a
* cat

```css
/* Code blocks */
pre[class*="language-"] {
  content: "hello";
  transform: translate(0px, 2px);
  -webkit-transform: translate(0px, 2px);
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

.token.regex {
	color: #E9C062;
}
```

```js
let a = true;
let posted = new Date(postedString);
let modified = new Date(modifiedString);
const lastYear = new Date();
lastYear.setFullYear(lastYear.getFullYear() - 1);

function formatDate (date) {
	return `
		${date.toLocaleString('en-GB', { day: 'numeric' })}
		${date.toLocaleString('en-GB', { month: 'long' })},
		${date.toLocaleString('en-GB', { year: 'numeric' })}
	`;
}
```
