html, body, *, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'Recursive';
  src: url("recursive-MONO_CASL_wght_slnt_ital--full_gsub--2019_12_17-23_21.woff2") format("woff2"); }

body {
  font-family: "Recursive", sans-serif;
  font-weight: 350;
  font-variation-settings: "MONO" 0;
  font-size: 15.8px;
  line-height: 1.6;
  color: #4a696a;
  background-color: #fffdf7; }

@media (min-width: 400px) {
  body {
    font-size: calc(15px + .2vw); } }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5em;
  font-weight: 650;
  line-height: 1.2; }

h1 {
  font-size: 1.8em; }

h2 {
  font-size: 1.4em; }

h3 {
  font-size: 1.2em; }

h4 {
  font-size: 1.15em; }

p {
  margin-bottom: 1em; }

a {
  color: #2255e9; }
  a:hover, a:focus {
    color: #0c32a7; }
  a:active {
    font-weight: 475; }

button {
  cursor: pointer;
  display: block;
  font-family: 'Recursive';
  font-weight: 350;
  font-variation-settings: "MONO" 0;
  color: #4a696a;
  font-size: 1em;
  background-color: transparent;
  border: none; }

input {
  font-family: 'Recursive';
  font-weight: 350;
  font-variation-settings: "MONO" 0;
  color: #4a696a;
  font-size: 1em;
  background-color: transparent;
  border: none; }

ul {
  padding-left: 1em;
  margin: 1em 0; }

pre {
  background-color: #fffdf7; }

b {
  font-weight: 650; }

i {
  font-style: oblique 15deg; }

code {
  font-family: "Recursive", inconsolata, monospace;
  font-variation-settings: "wght" 350, "MONO" 1;
  color: #6d9b94;
  background-color: #fffdf7;
  padding: 0.2em 0.4em;
  border-radius: 2px; }
