@import './profile.scss';

html, body, *, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@font-face {
  font-family: 'Recursive';
  src: url('recursive-MONO_CASL_wght_slnt_ital--full_gsub--2019_12_17-23_21.woff2') format('woff2');
}

body {
	font-family: $sans;
  font-weight: 350;
  font-variation-settings: $linear;

	font-size: 15.8px;
	line-height: 1.6;

	color: $paragraph;
  background-color: $lighter;
}

@media (min-width: $mobile) {
	body {
		font-size: calc(15px + .2vw);
	}
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: .5em;
  font-weight: 650;
	line-height: 1.2;
}

h1 {
	font-size: 1.8em;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1.15em;
}

p {
	margin-bottom: 1em;
}

a {
  color: $link;

	&:hover, &:focus {
		color: $link-hover;
	}

	&:active {
		font-variation-settings: $bold;
	}
}

ul {
  padding-left: 1em;
  margin: 1em 0;
}

pre {
	background-color: $lighter;
}

b {
	font-weight: 650;
}

code {
	font-family: $mono;
	font-variation-settings: $normal, 'MONO' 1;
	color: $lightgray;
	background-color: $lighter;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}
