@import url("https://rsms.me/inter/inter.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light: #e4f2f2;
  --dark: #354e50;
  --lightgray: #6d9b94;
  --gray: #547879;
  --primary: #2255e9;
  --primary-dark: #0c32a7;
  --secondary: #bfe8fc;
  --secondary-dark: #90c5f9;
  --tertiary: #da3125;
  --lighter: #f9f9f1;
  --darker: #1a2826;
  --background: #e4f2f2;
  --headline: #354e50;
  --paragraph: #547879;
  --button: #2255e9;
  --button-text: #f9f9f1;
  --link: #2255e9;
  --link-hover: #0c32a7;
  --background-dark: #1a2826;
  --headline-dark: #f9f9f1;
  --paragraph-dark: #6d9b94;
  --red: #da3125;
  --mobile: 400px;
  --medium: 620px;
  --sans: 'Inter', sans-serif;
  font-size: 16.2px;
}

:root {
  --red-100: #ffc8b4;
  --red-200: #f5b4a0;
  --red-300: #F56D67;
  --red-400: #e63946;
  --red-500: #D63D4E;
  --red-600: #C03154;
  --red-700: #9B334F;
  --red-800: #792340;
  --red-900: #6D1C3B;
  --red-DEFAULT: var(--red-500);

  --green-100: #b7eebc;
  --green-200: #a3daa8;
  --green-300: #76B171;
  --green-400: #5d9d76;
  --green-500: #498967;
  --green-600: #357557;
  --green-700: #216148;
  --green-800: #184438;
  --green-900: #04302D;
  --green-DEFAULT: var(--green-400);

  --blue-100: #b4ecf3;
  --blue-200: #A0D8DF;
  --blue-300: #83B4C8;
  --blue-400: #65A3B9;
  --blue-500: #48829B;
  --blue-600: #346585;
  --blue-700: #234864;
  --blue-800: #193655;
  --blue-900: #17283D;
  --blue-DEFAULT: var(--blue-500);

  --white-DEFAULT: #f9f9f1;
  --white-50: #f1faee;
  --white-100: #e4f2f2;

  --gray-50: #f9f9f1;
  --gray-100: #e4f2f2;
  --gray-200: #D2E7E1;
  --gray-300: #BECFC7;
  --gray-400: #A8B4AA;
  --gray-500: #8CA09F;
  --gray-600: #7E9B9A;
  --gray-700: #547879;
  --gray-800: #406465;
  --gray-900: #354e50;
  --gray-DEFAULT: var(--gray-400)

}

html, body, *, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, button, input {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

@supports (font-variation-settings: normal) {
  body, button, input {
    font-family: 'Inter var', sans-serif;
  }
  :root {
    --sans: 'Inter var', sans-serif;
  }
}

html {
  font-size: 16.2px;
}

body {
  font-size: 16.2px;
  line-height: 1.7;
  color: var(--gray-700);
  background-color: var(--secondary);
}

@media (min-width: 400px) {
  :root, html, body {
    font-size: calc(15.5px + .2vw);
  }

}

#sapper {
  display: grid;
  grid-template-rows: [nav-start] auto [nav-end main-start] 1fr [main-end footer-start] auto [footer-end];
  min-height: 100vh;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  color: #354e50;
  margin: 1.25em 0 0.25em;
  font-weight: 650;
  line-height: 1.2;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1.15em;
}

p {
  margin-bottom: 1em;
}

a {
  color: var(--blue);
}

a:hover, a:focus {
  color: var(--blue-700);
}

a:active {
  font-weight: 475;
}

button, input {
  font-size: 1em;
  color: var(--gray-700);
  border: none;
  background-color: transparent;
}

button {
  cursor: pointer;
  display: block;
  border: none;
}

ul {
  padding-left: 1em;
  margin: 1em 0;
}

pre {
  background-color: var(--lighter);
}

b {
  font-weight: 650;
}

i {
  font-style: oblique 15deg;
}

code {
  border-radius: 2px;
  padding: 0.2em 0.4em;
}

textarea {
  font-size: 1em;
  border: none;
  width: 100%;
  display: block;
  min-height: 10em;
  padding: .5em;
  resize: vertical;
}
