@import './profile.scss';
@import url('https://rsms.me/inter/inter.css');

body {
	--light: #{ $light };
	--dark: #{ $dark };
	--lightgray: #{ $lightgray };
	--gray: #{ $gray };
	--primary: #{ $primary };
	--primary-dark: #{ $primary-dark };
	--secondary: #{ $secondary };
	--secondary-dark: #{ $secondary-dark };
	--tertiary: #{ $tertiary };
	--lighter: #{ $lighter };
	--darker: #{ $darker };
	--background: #{ $background };
	--headline: #{ $headline };
	--paragraph: #{ $paragraph };
	--button: #{ $button };
	--button-text: #{ $button-text };
	--link: #{ $link };
	--link-hover: #{ $link-hover };
	--background-dark: #{ $background-dark };
	--headline-dark: #{ $headline-dark };
	--paragraph-dark: #{ $paragraph-dark };

	--red: #{ $tertiary };



	--mobile: #{ $mobile };
	--medium: #{ $medium };
}

html, body, *, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body, button, input {
	font-family: 'Inter', sans-serif;
	font-weight: 400;

	@supports (font-variation-settings: normal) {
		font-family: 'Inter var', sans-serif;
	}
}

body {
	font-size: 16.2px;
	line-height: 1.7;

	color: $paragraph;
  background-color: $secondary;

	@media (min-width: $mobile) {
		font-size: calc(15.5px + .2vw);
	}

}

#sapper {
	// display: flex;
	// flex-direction: column;

	display: grid;
	grid-template-rows: [nav-start] auto [nav-end main-start] 1fr [main-end footer-start] auto [footer-end];
	// grid-template-columns: [start] 1fr [body-start] 100% [body-end] 1fr [end];
	min-height: 100vh;
	position: relative;
}

h1, h2, h3, h4, h5, h6 {
	color: $dark;
	margin: 1.25em 0 0.25em;
  font-weight: 650;
	line-height: 1.2;
}

h1 {
	font-size: 1.8em;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1.15em;
}

p {
	margin-bottom: 1em;
}

a {
  color: $link;

	&:hover, &:focus {
		color: $link-hover;
	}

	&:active {
		font-weight: 475;
	}
}

button, input {
	font-size: 1em;
	color: $paragraph;
	border: none;
	background-color: transparent;
}

button {
	cursor: pointer;
	display: block;
	border: none;
}

ul {
  padding-left: 1em;
  margin: 1em 0;
}

pre {
	background-color: $lighter;
}

b {
	font-weight: 650;
}

i {
	font-style: oblique 15deg;
}

code, textarea {
	// font-family: $mono;
	// color: $gray;
	// background-color: $lighter;
}

code {
	border-radius: 2px;
	padding: 0.2em 0.4em;
}

textarea {
	font-size: 1em;
	border: none;
  width: 100%;
  display: block;
  min-height: 10em;
  padding: .5em;
	resize: vertical;
}
