// ## FONTS ##
$sans: 'Recursive', sans-serif;
$mono: 'Recursive', inconsolata, monospace;

$linear: 'MONO' 0;
$normal: 'wght' 350;
$bold: 'wght' 475;
$italic: 'slnt' -15;


// ### COLORS ###
// Abstract
$light: #f2f7f5;
$dark: #004547;
$lightgray: #6d9b94;
$gray: #4a696a;

$primary: #2255e9;
$primary-dark: #0c32a7;

$secondary: #bfe8fc;
$secondary-dark: #90c5f9;

$tertiary: #da3125;


$lighter: #fffdf7;
$darker: #00332c;

// Elements, light
$background: $light;
$headline: $dark;
$paragraph: $gray;
$button: $primary;
$button-text: $lighter;
$link: $primary;
$link-hover: $primary-dark;

// Dark
$background-dark: $darker;
$headline-dark: $lighter;
$paragraph-dark: $lightgray;

// $card-background-dark: $light;
// $card-headline-dark: $dark;
// $card-paragraph-dark: $gray;

// ### MEDIA QUERIES ###
$mobile: 400px;
$medium: 620px;
